@inject FileDownloadService FileDownloadService

@code {
    [Parameter]
    public IReadOnlySet<State> SelectedStates { get; set; } = new HashSet<State>();

    [Parameter]
    public int StartYear { get; set; }

    [Parameter]
    public int YearCount { get; set; }

    bool isExporting;

    State? SingleState => SelectedStates.Count == 1 ? SelectedStates.First() : null;

    async Task ExportJson() => await Export(() => FileDownloadService.DownloadJsonAsync(SingleState, StartYear, YearCount));
    async Task ExportCsv() => await Export(() => FileDownloadService.DownloadCsvAsync(SingleState, StartYear, YearCount));
    async Task ExportXml() => await Export(() => FileDownloadService.DownloadXmlAsync(SingleState, StartYear, YearCount));
    async Task ExportMarkdown() => await Export(() => FileDownloadService.DownloadMarkdownAsync(SingleState, StartYear, YearCount));
    async Task ExportIcs() => await Export(() => FileDownloadService.DownloadIcsAsync(SingleState, StartYear, YearCount));
    async Task ExportExcel() => await Export(() => FileDownloadService.DownloadExcelAsync(SingleState, StartYear, YearCount));

    async Task Export(Func<Task> exportAction)
    {
        if (isExporting)
        {
            return;
        }

        isExporting = true;
        StateHasChanged();

        try
        {
            await exportAction();
        }
        finally
        {
            isExporting = false;
            StateHasChanged();
        }
    }
}

<div class="export-menu">
    <span class="export-label">Export:</span>
    <button class="export-btn" @onclick="ExportJson" disabled="@isExporting">JSON</button>
    <button class="export-btn" @onclick="ExportCsv" disabled="@isExporting">CSV</button>
    <button class="export-btn" @onclick="ExportXml" disabled="@isExporting">XML</button>
    <button class="export-btn" @onclick="ExportMarkdown" disabled="@isExporting">Markdown</button>
    <button class="export-btn" @onclick="ExportIcs" disabled="@isExporting">ICS</button>
    <button class="export-btn" @onclick="ExportExcel" disabled="@isExporting">Excel</button>
</div>
